# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Databricks FS paths
dbfs/

# Kaggle API key
kaggle.json

# Logs
*.log

# SQLite databases
*.db

# Environment files
.env

# MLflow artifacts
mlruns/
